{% extends 'layout.njk' %}
{%import 'parts/card.njk' as cards%}
{% block content %}

    {%call cards.render('', 'order-success container')%}

    <div class="success-lottie"></div>
    <h2>Pedido Realizado com Sucesso</h2>
    <p>Aguarde a Resposta do Vendedor no seu Email cadastrado</p>
    <a href="/products/search">Comprar Mais</a>
    
    {%endcall%}

    <script src="/lottie.min.js"></script>
    <script>

    const element = document.querySelector('.success-lottie')


        lottie.loadAnimation({
            container: element, // the dom element that will contain the animation
            renderer: 'svg',
            loop: false,
            autoplay: true,
            path: '/645-success.json' // the path to the animation json
        });
    </script>
{% endblock %}